.center-flex{
  display:flex;
  align-items:center;
  justify-content:center;
}

.background-color{
  background-color: rgb(146, 114, 177);
}

#Title{
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
  color: yellow;
}