.center-flex{
  display:flex;
  align-items:center;
  justify-content:center;
}

.background-color{
  background-color: rgb(115, 169, 206);
}

#Title{
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
}